.feed-list-item {
    min-height: 350px;
    margin: 40px;
    list-style: none;
    border: 1px solid #77777769;
    background-color: #fdfdfd;
    border-radius: 4px;
    padding: 30px 50px 0px 50px;
    box-shadow: 0 0 1em #80808066;
  }
  
  .feed-list-item-image {
    float: left;
    width: 100%;
    max-width: 350px;
    margin-right: 20px;
    margin-bottom: 5%;
  }
  
  .feed-list-item-title {
    font-size: 1.8em;   
    font-family: 'Francois One';
    margin-bottom: 10px;
  }
  
  .feed-list-item-lede {
    display: block;
    margin-bottom: 50px;
  }
  
  .feed-list-item-byline {
    font-size: .8em;
    margin-bottom: 15px;
    color: #777777;
  }
  
  .feed-list-item-byline-author {
    font-weight: bolder;
  }