
 
  .create  {
    border-bottom: 1px solid #777777;
    width: 90%;
    font-family: 'Francois One';
    margin-bottom: 2rem;
  }
  .create-editor {
    width: 72%;
    /* float: center; */
  }
  .postBlog__style {
    font-weight: bold;
    font-size: large;
    color: #5DADE2;
    display:flex;
    align-items: center;
   justify-content: center;
   margin-top: 2rem;
  }
  .create-preview {
    width: 60%;
    float: right;
    margin: 0 auto;
  }
  
  .create-input {
    width: 80%;
    display: block;
    font-size: 0.9em;
    height: 30px;
    margin-bottom: 15px;
    border: none;
    padding: 5px;
    background-color: rgb(236, 233, 233);
    margin-left: 6rem;
    margin-top: 2rem;


  }
  
  .create-body-textarea {
    width: 80%;
    font-size: 0.9em;
    display: block;
    height: 350px;
    border: none;
    resize: none;
    margin-left: 6rem;
  }
  
  .create-submit-button {
    margin-top: 15px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-left: 25rem;
    margin-bottom: 5rem;
    margin-top: 2rem;


  }

  .create-submit-button:hover {
	transform: scale(1.2);
    
  }
  
  
  .create-container{
    background-color: #fff;
   opacity: 0.7;
    position: relative;
      left: 1rem;
    overflow: hidden;
      margin-top: 4rem;
      margin-bottom: 10rem;
    width: 968px;
    max-width: 100%;
    min-height: 680px;
     border-radius: 10px; 
    
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
  } 

  .backGroud__container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('https://img.wattpad.com/4fc90372daacaa54d0a242570f62fec88bfc4be2/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f785f6159532d344c516f747235773d3d2d3836393733373935312e313630373830306631643064376166343435333930363437343334322e676966')no-repeat   center center;
    background-size: cover;
  }

  .form-input {
    display:flex;
    align-items: center;
   justify-content: center;
   margin-top: 2rem;
   margin-left: 20rem;

  }