
/* .bodySing {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('https://www.vacancesaucamping.com/wp-content/uploads/2021/06/Spitzberg-.jpg')no-repeat   center center ;
    background-size: cover;

  }
  .signin {
	position: left ;
  }



form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}



.form-group{
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
}

form {
    width: 35%;
    justify-content: center;
    margin: auto;
    } */
   
.bodysing {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url('https://www.vacancesaucamping.com/wp-content/uploads/2021/06/Spitzberg-.jpg')no-repeat   center center;
  background-size: cover;
}

.container-s {
  position: relative;
  width: 70vw;
  height: 80vh;
  background-color: #fff;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,0.3),0 6px 20px 0 rgba(0,0,0,0.3);
}

/* .container-s::before{
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #28475c, #5DADE2);
 
} */

.signin-signup {
  position: absolute;
  top:0;
  left:  30px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ss {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  min-width: 238px;
  padding: 0 10px;
}

.title-s {
  font-size: 35px;
  color:#5DADE2;
  margin-top: 10px;
}

.input-field-s {
  width: 130%;
  height: 50px;
  background: #f0f0f0;
  margin: 10px 0;
  border: 2px solid #fff;
  border-radius: 50px;
  display: flex;
  align-items: center;
}



.input-field-s i {
  flex: 1;
  color: #666;
  text-align: center;
  font-size: 18px;
}

.input-field-s input {
  flex:5;
  background: none;
  border: none;
  outline:  none;
  width: 100%;
  font-size: 18px;
font-weight: 600;
color: #444;

}

.btn-s {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background-color: #5DADE2;
  color: #fff;
  font-weight: 600;
  margin: 10px 0;

text-transform: uppercase;
}

.btn-s:hover {
  background-color: #FF4B2B;;
}




